@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
  background-color: #FDF7E0;
}

label.title {
 display: flex;
 justify-content: center;
 font-size: 30px;
 font-weight: bold;
 padding-top: 300px;
 padding-bottom: 10px;
 font-family: 'IM Fell DW Pica', serif;
 letter-spacing: 0.2em;
 color: #262626;
 line-height: 40px;
}

label.subtitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 230px;
  font-family: 'IM Fell DW Pica', serif;
  letter-spacing: 0.2em;
  color: #262626;
  line-height: 40px;
 }

.scroll-down-arrow{
  display: flex;
  justify-content: center;
  font-family: 'IM Fell DW Pica', serif;
  padding-bottom: 30px;
  font-size: 20px;
  color: #262626;
  font-weight: 800;
}

/* graph.js 에서 설정
.links line {
  stroke: #999;
  stroke-opacity: 0.4;
}


.nodes circle {
  stroke: #e3e3e5;
  stroke-width: 1px;
}
*/

.scroll-down-arrow{
  display: flex;
  justify-content: center;
  font-family: 'IM Fell DW Pica', serif;
  padding-bottom: 30px;
  font-size: 20px;
  color: #262626;
  font-weight: 800;
}

.eng-main {
  display: flex;
  flex: auto;
  margin : 0 auto;
  justify-content: center;
}

.eng-1{  
  padding-top: 10px;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 3px;
  font-size: 20px;
  font-family: 'IM Fell DW Pica', serif;
  color: #262626;
  letter-spacing: 0.03em;
  line-height: 30px;
}

.eng-content1{  
  margin-left: 310px;
  margin-right: 300px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
  color: #262626;
  letter-spacing: 0.01em;
  line-height: 21px;
}

.eng-2{  
  padding-top: 10px;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 3px;
  font-size: 20px;
  font-family: 'IM Fell DW Pica', serif;
  color: #262626;
  letter-spacing: 0.03em;
  line-height: 30px;
}

.eng-content2{  
  margin-left: 310px;
  margin-right: 300px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
  color: #262626;
  letter-spacing: 0.01em;
  line-height: 21px;
}

.eng-3{  
  padding-top: 10px;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 3px;
  font-size: 20px;
  font-family: 'IM Fell DW Pica', serif;
  color: #262626;
  letter-spacing: 0.03em;
  line-height: 30px;
}

.eng-content3{  
  margin-left: 310px;
  margin-right: 300px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
  color: #262626;
  letter-spacing: 0.01em;
  line-height: 21px;
}

.eng-4{  
  padding-top: 10px;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 3px;
  font-size: 20px;
  font-family: 'IM Fell DW Pica', serif;
  color: #262626;
  letter-spacing: 0.03em;
  line-height: 30px;
}

.eng-content4{  
  margin-left: 310px;
  margin-right: 300px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
  color: #262626;
  letter-spacing: 0.01em;
  line-height: 21px;
}



.reference {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 100px;
}

  


/* MODAL */
/* The Modal (background) */
.background {
  display: none; /* Hidden by default */ /* 실제 적용은 none, 테스트 block*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  width: 350px;
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  border-bottom: 1px solid #262626;
}

.modal-header > p{
  margin: 15px 0px;
  font-size: 24px;
  font-family: 'IM Fell DW Pica', serif;
}

/* Modal Body */
.modal-body {
  padding: 16px;
  font-family: 'Times';
  font-size: 17px;
  color: #2c2c2c;
  text-align: justify;
  text-justify: inter-word;
}
